mat-card {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.364);
    width: 22%; 
    min-width: 200px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    background-color:rgb(53 24 106);
}

.spacer{
    height: 60px;
}

mat-card img {
    width: 100%;
}

h3 {
    color: white;
}

p {
    color: white;
}

.text-card{
    max-height: 200px; 
    overflow: auto;
}

.container-notices{
    display: flex; 
    flex-direction:row; 
    width:100%; 
    flex-wrap: wrap; 
    justify-content: space-around;
}